/*--------------------
   COLOR VARIABLES
--------------------*/

$headerBG : #2a3438;
$footerBG : #3a3a3a;
$white : #ffffff;
$hexaBlack : #000000;
$menloBlue: #0695d3;
$hexaBlue: #35b2fc;
$colorBlue: #00a0ff;
$nobel: #979797;
$whiteSmoke: #f4f4f4;
$whiteAlice: #fbfdff;



// Font Family

$heebo: 'Heebo';





