<div class="modal-header">
  <input class="modal-title enterTagText" placeholder="Enter a Tag">
 </div>
<div class="modal-body">
  <div class="tagsOverflow">
    <ul>
      <li>
        <span>Data Services</span>        
        <i class="fa fa-times pdLeft6 whiteColor" aria-hidden="true" ></i>
      </li>
      <li>
        <span>Data Services</span>
        <img src="assets/images/close.png" class="pdLeft6">
      </li>
      <li>
        <span>Data Services</span>
        <img src="assets/images/close.png" class="pdLeft6">
      </li>
      <li>
        <span>Data Services</span>
        <img src="assets/images/close.png" class="pdLeft6">
      </li>
      <li>
        <span>Data Services</span>
        <img src="assets/images/close.png" class="pdLeft6">
      </li>
      <li>
        <span>Data Services</span>
        <img src="assets/images/close.png" class="pdLeft6">
      </li>
      <li>
        <span>Data Services</span>
        <img src="assets/images/close.png" class="pdLeft6">
      </li>
    </ul>
  </div>
  <div class="tagsOverflowList">
    <ul>
      <li class="activeClass">
        <span>Accounting</span>
      </li>
      <li>
        <span>Accounting</span>
      </li>
      <li>
        <span>Accounting</span>
      </li>
      <li>
        <span>Accounting</span>
      </li>
      <li>
        <span>Accounting</span>
      </li>
      <li>
        <span>Accounting</span>
      </li>
      <li>
        <span>Accounting</span>
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn cancelBtn opacity-5" (click)="modal.close('Close  click')">Cancel</button>
  <button type="button" class="btn removeBtn" (click)="modal.close('Close  click')">Done</button>
</div>
