<div>
  <div  class="addCustomerContainer" *ngIf = "hideResetForm">
    <div class="addCustomer" *ngIf="validPasswordToken && showPasswordScreen">
      <div class="createPasswordSection">
        <h1 class="addCustomerText">Create a new password</h1>
        <p class="addCustomerText completeForm mb24">Passwords must be at least 8 characters and contain alphanumeric
          characters.</p>
        <div>
          <form [formGroup]="createPasswordForm">
            <div class="customerForm" id="directCustomer">
              <div class="companyDetails">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pdZero">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pdLeft">
                        <div class="form-group inputTextBox mb24">
                          <label class="labelText">New Password</label>
                          <input type="password" class="form-control" formControlName="password" (keydown) = "restrictEntireSpace($event);" (keydown.space)="restrictLeadingSpace($event);" 
                            [ngClass]="createPasswordForm.controls['password'].hasError('required') && createPasswordForm.controls['password'].touched || createPasswordForm.controls['password'].hasError('minlength') || createPasswordForm.controls['password'].hasError('maxlength') && createPasswordForm.controls['password'].dirty? 'error mb10' : ''">
                          <p class="labelText errorText"
                            *ngIf="createPasswordForm.controls['password'].hasError('required') && createPasswordForm.controls['password'].touched">
                            {{messages.PASSWORD}}</p>
                          <p class="labelText errorText"
                            *ngIf="createPasswordForm.controls['password'].hasError('minlength') && createPasswordForm.controls['password'].dirty">
                            {{messages.PASSWORD_MIN_LENGTH}}</p>
                          <p class="labelText errorText"
                            *ngIf="createPasswordForm.controls['password'].hasError('maxlength') && createPasswordForm.controls['password'].dirty">
                            {{messages.PASSWORD_MAX_LENGTH}}</p>
                          <!-- <p class="labelText errorText" *ngIf="customerForm.controls['address1'].hasError('required') && customerForm.controls['address1'].touched">Please enter tenant id.</p> -->
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pdLeft">
                        <div class="form-group inputTextBox mb24">
                          <label class="labelText">New Password Again</label>
                          <input type="password" class="form-control" formControlName="newpassword" (keydown) = "restrictEntireSpace($event);" (keydown.space)="restrictLeadingSpace($event);"

                            [ngClass]="createPasswordForm.controls['newpassword'].hasError('required') &&createPasswordForm.controls['newpassword'].touched || createPasswordForm.controls['newpassword'].hasError('minlength') || createPasswordForm.controls['newpassword'].hasError('maxlength') && createPasswordForm.controls['newpassword'].dirty || createPasswordForm.controls['newpassword'].hasError('mustMatch') ? 'error mb10' : ''">
                          <p class="labelText errorText"
                            *ngIf="createPasswordForm.controls['newpassword'].hasError('required') && createPasswordForm.controls['newpassword'].touched">
                            {{messages.NEW_PASSWORD}}</p>
                        </div>
                      </div>
                    </div>
                    <p class="labelText errorText positionErrorTop"
                      *ngIf="createPasswordForm.controls['newpassword'].hasError('mustMatch')">{{messages.PASSWORD_MATCH}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pdZero">
              <button type="submit" class="btn cancelBtn opacity-5" (click)="cancelToSign();">Cancel</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <button type="submit" class="btn saveSubmitBtn floatRight"
                [ngClass]="!(createPasswordForm.valid) ? 'disabled' : ''" [disabled]="!(createPasswordForm.valid)"
                (click)="submitPwd();">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!validPasswordToken">
      <div class="addCustomer">
        <div class="createPasswordSection">
          <h1 class="addCustomerText text-center">This link has expired</h1>
          <p class="addCustomerText completeForm mb24 text-center fontSize14">Please click here to go to <a
              [routerLink]="['/login']">login page</a> and use the Forgot Password option to create a new password.</p>
        </div>
      </div>
    </div>
  </div>
  <div  class="addCustomerContainer">
  <div *ngIf="pwdChangedSuccess">
    <div class="addCustomer">
      <div class="createPasswordSection">
          <h1 class="addCustomerText completeForm text-center mb36">Your password has successfully been reset</h1>
          <img class="center mb40" src="assets/images/check.png"/>   
          <button type="submit" class="btn backToSignBtn center" (click)="cancelToSign();">Back to Sign In</button>     
      </div>
    </div>
  </div>
  </div>
</div>
