<div class="modal-header">
  <h4 class="modal-title deactivateText" id="modal-basic-title">Deactivate Playa Account</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="modalBodyText">Are you sure you want to deactivate this customer’s account? They will no longer be able to access Playa until they’re re-enabled.</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn cancelBtn opacity-5" (click)="modal.close('Save click')">Cancel</button>
  <button type="button" class="btn removeBtn" (click)="modal.close('Save click')">Remove Subscription</button>
</div>
