@import 'styles/variables.scss';
@import 'styles/mixin.scss';

.addCustomerContainer{
    width: 78.30%;
    // height: 1592px;
    float: left;
    background-color: $white;
    margin: auto;
    .addCustomer{
        width: 59%;
        margin-left: 9%;
        padding-top: 48px;
        padding-bottom: 40px;
        .addCustomerText{
            font-family: $heebo;
            font-size: 24px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            color: $hexaBlack;
            margin-bottom: 8px;
            &.completeForm{
                opacity: 0.5;
                font-size: 16px;
                line-height: 1.5;
                font-weight: normal;
                margin-bottom: 32px;
            }
            &.customerType{
                opacity: 1.0;
                margin-bottom: 28px;
            }
            &.radioLabelText{
                position: relative;
                top: -8px;
                left: -5px;
                font-size: 14px;
                line-height: 1.43;
                font-weight: normal;
            }
            &.customerFormHeading{
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 16px;
            }
        } 
        .signInText {
            font-family: $heebo;
            font-size: 24px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            color: $hexaBlack;
            margin-bottom: 30px;
        }
        .labelText{
            font-family: $heebo;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: $hexaBlack;
            margin-bottom: 4px;
        }
        .inputTextBox {
            input,select {
                height: 40px;
                border-radius: 4px;
                border: 1px solid rgba(0,0,0,0.5);
                ::placeholder, ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder { 
                        color: $colorBlue;
                        opacity: 0.25;
                }
                &:focus {
                        border: 1px solid $colorBlue;
                        box-shadow: 0 0 8px 0 rgba(96, 195, 253, 0.7);
                }
            }
            // input, .role{
            //     width: 87%;
            // }
            // .country{
            //     width: 84%;
            // }
            // .state{
            //     width: 90%;
            // }
        }
        .faCircleMargin{
            margin-left: 12px;
            margin-right: 35px;
        }
        .cancelBtn{
            cursor: pointer;
            @include form-button(101px, 40px, $heebo, 16px, normal, normal, normal, 1.5, normal, center, $hexaBlack, $white, 4px, 1px solid $hexaBlack);
        }
        .saveSubmitBtn{
            cursor: pointer;
            @include form-button(164px, 40px, $heebo, 16px, bold, normal, normal, 1.5, normal, center, $white, $menloBlue, 4px,"");
        }
        .removeBtn{
          cursor: pointer;
          position: relative;
          top: 25px;
          @include form-button('70px', 25px, $heebo, 10px, bold, normal, normal, 1.5, normal, center, $white, $menloBlue, 4px,"");
      }
    }
}

// @media only screen and (min-width: 375px) and (max-width: 1365px){
//     .addCustomerContainer{
//         width: 100% !important;
//     }

// }

@media only screen and (min-width: 1366px) and (max-width: 1583px){
  .addCustomer{
      width: 82% !important;
  }
  .addCustomerContainer{
    width: 74.30% !important;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1365px){
  .addCustomer{
    width: 85% !important;
  }
  .addCustomerContainer{
    width: 66.30% !important;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1023px){
  .addCustomer{
    width: 89% !important;
  }
  .addCustomerContainer{
    width: 55.30% !important;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1281px){
  .width85Percent{
    width: 77% !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 962px){
  .width85Percent{
    width: 95% !important;
  }
}

.facircleMinus{
  padding: 0px;
  position: relative;
  top: 36px;
}
