<div class="loginContainer">
  <div class="loginFormSection">
      <form [formGroup]="loginForm">
        <div class="signInText">Sign In</div>
        <div class="form-group inputTextBox mb24">
          <label class="labelText">Email</label>
          <input type="text" class="form-control" [ngClass]="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched || loginForm.controls['email'].hasError('pattern') && loginForm.controls['email'].dirty ? 'error mb10' : ''"  formControlName="email" (keydown.space)="restrictLeadingSpace($event);">
          <p class="labelText errorText" *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">{{messages.EMAIL}}</p>
          <p class="labelText errorText" *ngIf="loginForm.controls['email'].hasError('pattern') && loginForm.controls['email'].dirty">{{messages.EMAIL_VALID}}</p>
        </div>
        <div class="form-group inputTextBox mb20">
          <label class="labelText">Password</label>
          <input type="password" class="form-control" [ngClass]="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched || loginForm.controls['password'].hasError('minlength') || loginForm.controls['password'].hasError('maxlength') && loginForm.controls['password'].dirty? 'error mb10' : ''" formControlName="password" (keydown.space)="restrictLeadingSpace($event);">
          <p class="labelText errorText" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">{{messages.PASSWORD}}</p>
          <p class="labelText errorText" *ngIf="loginForm.controls['password'].hasError('minlength') && loginForm.controls['password'].dirty">{{messages.PASSWORD_MIN_LENGTH}}</p>
          <p class="labelText errorText" *ngIf="loginForm.controls['password'].hasError('maxlength') && loginForm.controls['password'].dirty">{{messages.PASSWORD_MAX_LENGTH}}</p>
        </div>
        <div class="form-group form-check mb20">
          <label class="form-check-label">
            <input class="form-check-input cursor" type="checkbox"> <span class="checkBoxText">Remember me</span>
          </label>
        </div>
        <div class="errorText mb8" *ngIf="loginErrorMsz">{{loginErrorMsz}}</div>
        <button type="submit" class="btn signInBtn bgColor" [ngClass]="!(loginForm.valid) ? 'disabled' : ''" [disabled]="!(loginForm.valid)" (click)="login()">Sign In</button>
        <div class="forgotPwd cursor" [routerLink]="['/forgotpassword']">Forgot Password?</div>
      </form>
  </div>
</div>
<app-footer></app-footer>
