@import 'styles/variables.scss';
@import 'styles/mixin.scss';

.addCustomerContainer{
    width: 78.30%;
    // height: 1592px;
    float: left;
    background-color: $white;
    margin: auto;
    .addCustomer{
        width: 59%;
        margin-left: 9%;
        padding-top: 48px;
        padding-bottom: 40px;
        .addCustomerText{
            font-family: $heebo;
            font-size: 24px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            color: $hexaBlack;
            margin-bottom: 8px;
            &.completeForm{
                opacity: 0.5;
                font-size: 16px;
                line-height: 1.5;
                font-weight: normal;
                margin-bottom: 32px;
            }
            &.customerType{
                opacity: 1.0;
                margin-bottom: 28px;
            }
            &.radioLabelText{
                position: relative;
                top: -8px;
                left: -5px;
                font-size: 14px;
                line-height: 1.43;
                font-weight: normal;
            }
            &.customerFormHeading{
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 16px;
            }
        } 
        .signInText {
            font-family: $heebo;
            font-size: 24px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            color: $hexaBlack;
            margin-bottom: 30px;
        }
        .labelText{
            font-family: $heebo;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: $hexaBlack;
            margin-bottom: 4px;
        }
        .inputTextBox {
            input,select {
                height: 40px;
                border-radius: 4px;
                border: 1px solid rgba(0,0,0,0.5);
                ::placeholder, ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder { 
                        color: $colorBlue;
                        opacity: 0.25;
                }
                &:focus {
                        border: 1px solid $colorBlue;
                        box-shadow: 0 0 8px 0 rgba(96, 195, 253, 0.7);
                }
            }
            // input, .role{
            //     width: 87%;
            // }
            // .country{
            //     width: 84%;
            // }
            // .state{
            //     width: 90%;
            // }
        }
        .faCircleMargin{
            margin-left: 12px;
            margin-right: 35px;
        }
        .cancelBtn{
            cursor: pointer;
            @include form-button(101px, 40px, $heebo, 16px, normal, normal, normal, 1.5, normal, center, $hexaBlack, $white, 4px, 1px solid $hexaBlack);
        }
        .saveSubmitBtn{
            cursor: pointer;
            @include form-button(164px, 40px, $heebo, 16px, bold, normal, normal, 1.5, normal, center, $white, $menloBlue, 4px,"");
        }
        .removeBtn{
          cursor: pointer;
          position: relative;
          top: 25px;
          @include form-button('70px', 25px, $heebo, 10px, bold, normal, normal, 1.5, normal, center, $white, $menloBlue, 4px,"");
      }
        .fileInputs{
            position: relative;
            z-index: 2;

            .file{
                height: 80px !important;
                position: relative;
                opacity: 0;
                z-index: 2;
                cursor: pointer;
            }
            .dragDropFile{
                border: 1px dashed $nobel;
                background-color: $white;
                // height: 80px;
                width: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: 1;
                .dragDropPad{
                    padding-top: 12px;
                    padding-bottom: 12px;
                    .dragDropChoose{
                        font-family: $heebo;
                        font-size: 16px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.5;
                        letter-spacing: normal;
                        color: $hexaBlack;
                        .chooseFile{
                          color: $hexaBlue;
                        }
                    }
                    .fileType, .fileSize{
                        opacity: 0.5;
                        font-family: $heebo;
                        font-size: 12px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.33;
                        letter-spacing: normal;
                        color: $hexaBlack;
                    }
                }
            }
        }
        .radio {
            display: inline-block;
            width: 160px;
            input[type="radio"] {
              position: absolute;
              opacity: 0;
              + .radio-label {
                &:before {
                  content: '';
                  background: $white;
                  border-radius: 100%;
                  border: 2px solid darken($whiteSmoke, 25%);
                  display: inline-block;
                  width: 16px;
                  height: 16px;
                  position: relative;
                  top: -0.2em;
                  margin-right: 1em; 
                  vertical-align: top;
                  cursor: pointer;
                  text-align: center;
                  transition: all 250ms ease;
                }
              }
              &:checked {
                + .radio-label {
                  &:before {
                    background-color: $colorBlue;
                    box-shadow: inset 0 0 0 2.5px $whiteSmoke;
                    border:2px solid $colorBlue;
                  }
                }
              }
              &:focus {
                + .radio-label {
                  &:before {
                    outline: none;
                    border-color: $colorBlue;
                  }
                }
              }
              &:disabled {
                + .radio-label {
                  &:before {
                    box-shadow: inset 0 0 0 4px $whiteSmoke;
                    border-color: darken($whiteSmoke, 25%);
                    background: darken($whiteSmoke, 25%);
                  }
                }
              }
              + .radio-label {
                &:empty {
                  &:before {
                    margin-right: 0;
                  }
                }
              }
            }
        }
    }
}

// @media only screen and (min-width: 375px) and (max-width: 1365px){
//     .addCustomerContainer{
//         width: 100% !important;
//     }

// }

@media only screen and (min-width: 1366px) and (max-width: 1583px){
  .addCustomer{
      width: 82% !important;
  }
  .addCustomerContainer{
    width: 74.30% !important;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1365px){
  .addCustomer{
    width: 85% !important;
  }
  .addCustomerContainer{
    width: 66.30% !important;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1023px){
  .addCustomer{
    width: 89% !important;
  }
  .addCustomerContainer{
    width: 55.30% !important;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1281px){
  .width85Percent{
    width: 77% !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 962px){
  .width85Percent{
    width: 95% !important;
  }
}
