.sidenav {
    width: 256px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212121;
    overflow-x: hidden;
    padding-top: 20px;
}


.sidenav h1 i{
    float:left;
    margin-right:20px;
    margin-left:10px;
    margin-top: 3px;
   }

.sidenav ul li a {
    padding: 10px 8px 10px 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    display: block;
}

.sidenav h1 {
    color: #ffffff;
    font-size: 20px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}
.sidenav h2 a {
    color: #ffffff !important;
    text-decoration: none !important;
}
.sidenav h2 {
    color: #ffffff;
    font-size: 16px;
    display: block;
    margin-left: 20px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.sidenav .section-head {
    background-color: #0288d1;
    color: #ffffff;
    padding-left: 10px;
    margin-top: 20px;
}

.sidenav .section {
    padding: 20px 0;
}

.header-container {
    display: inline-block;
    width: 256px;
}


.sidenav .active-item {
    padding: 12px 10px 12px 20px;
    background-color: #00bcd4;
    color: #ffffff;
    border-left: 8px solid #295170;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.btn-add {
    margin-right: 10px;
    font-size: 26px;
    margin-top: -10px;
    cursor: pointer;
}

.main {
    margin-left: 286px; 
}

.main-heading {
    width: 100%;
    color: #2f4858;
    border-bottom: 2px solid rgba(51, 101, 138, 0.5);
    margin: 30px 20px 10px 0;
    padding-bottom: 20px;
}

.footer-nav {
    width: 100%;
    color: #39bcd5;
    border-top: 2px solid rgba(51, 101, 138, 0.5);
    padding: 40px;
    text-align: center;
}

.footer-nav i {
    border: 1px solid #39bcd5;
    padding: 12px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.main-title {
    font-size: 26px;
    font-weight: bold;
    margin-left: 20px;
}
#createFund a:not([href]):not([tabindex]) {
    color: #ffffff !important;
    cursor: pointer;
}
.cancel-fund {
    font-size: 20px;
    font-weight: bold;
    float: right;
    margin-right: 50px;
    margin-top: 8px;
    color: #2f4858 !important;
    text-decoration: none !important;
}

.main h2 {
    margin: 20px 0 0 0px;
    padding: 8px 0 8px 0;
    color: #2f4858;
    font-size: 20px;
    font-weight: bold;
}

.main h4 {
    margin: 6px 0 8px 0;
    padding: 8px 0 8px 0;
    color: rgba(47, 72, 88, 0.5);
    font-size: 14px;
    font-weight: bold;
}

.start-box {
    color: #ffffff;
    padding-top: 8px;
    font-size: 16px;
    font-weight: bold;
    width: 232px;
    height: 40px;
    background-color: rgba(245, 245, 245, 0.3);
    border-radius: 20px;
    text-align: center;
    margin-left: 9px;
    cursor: pointer;
}

.form-grid {
    padding: 0 30px 0 30px;
    width: 610px;
  }

  .form-row{
    margin-top: 10px;
  }



.ddstyle {
    width:300px;
    background-color: #ffffff;
    text-align: left;
}

.user {
    text-align: center;
    color: rgba(255, 255, 255, 0.25);
    margin-top: 30px;
    padding: 0 30px 0 30px;
}

.user p {
    text-align: center;
    color: #ffffff;
}

.header-right {
    margin-top: 20px;
    float: right;
}

.fsbadge {
    padding: 1px 9px 2px;
    font-size: 10px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #03a9f4;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    float: right;
    margin-top: 5px;
}
.GpDelegatesContainer{
    margin-left: 35px;
}
.assignGp {
    /*width: 201px;*/
    height: 32px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
}
.Subtext {
    /*width: 410px;*/
    height: 20px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 44px;
}
.gpDelegateButton {
    width: 210px;
    height: 40px;
    background-color: #39bcd5;
    border-radius: 30px !important;
    font-family: 'Open Sans';
    font-size: 16px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: normal;
    color: #ffffff;
    padding: 8px 51px 8px 62px !important;
}
.lpDelegateButton{
    border: solid 1px #39bcd5 !important;
    color: #39bcd5 !important;
    background-color: white !important;
}
.lpName {
    /*width: 100px;*/
    height: 20px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
  }
.organizationName {
    width: 117px;
    height: 16px;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
}
.lpCheckBox{
    top: 3px !important;
}
.rowWidth{
    width: 50%;
    margin-bottom: 9px;
    margin-left: 3px !important;
}
.rowLpWidth{
    width: 50%;
    border: 1px solid lightgray;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 3px !important;
}
.lpNameHeading {
    width: 54px;
    height: 16px;
    opacity: 0.5;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    margin-right: 4px;
    margin-left: 47px;
  }
  .organizationHeading {
    width: 78px;
    height: 16px;
    opacity: 0.5;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    margin-right: 4px;
  }
.lpDelegateImg{
    top: 0px !important;
    margin-left: 0px !important;
}
.checkBoxGpContainer{
    margin-top: 24px;
    margin-bottom: 74px;
}
.Rectangle-6 {
    width: 380px;
    height: 48px;
    box-shadow: inset 0 -1px 0 0 rgba(117, 117, 117, 0.25);
    border: 1px solid lightblue;
    padding: 14px 0; 
    display: block;
    border-bottom: none !important;
}
.Ben-Parker {
    height: 20px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    position: relative;
    top: -5px;
}
.checkBoxBen {
    width: 24px;
    height: 24px;
    object-fit: contain;
    /*display: inline-block;*/
    float: right;
    position: relative;
    top: -5px; 
    
}

#createFund #header-right {
    max-width: 90%;
    margin-top: 15px;
    height: 35px;
}
.gpdelegateImg {
    width: 32px;
    height: 32px;
    position: relative;
    top: -7px;
    margin-right: 12px;
    margin-left: 13px;
  }
  .addRoleModal {
    max-width: 450px;
    min-height: 533px!important;
    height: auto!important;
    opacity: 1!important;
    border-radius: 8px;
    position: absolute;
    z-index: 1000;
    right: 0;
    left: 0;
    top: 100px;
    margin: auto;
    background-color: #ffffff;
    -webkit-box-shadow: -8px 8px 16px 0 rgba(82, 97, 115, 0.18);
    box-shadow: -8px 8px 16px 0 rgba(82, 97, 115, 0.18);
    border: solid 1px rgba(74, 74, 74, 0.25);
    padding-bottom: 15px;
}

/* For step1 form =======================*/
#step1Form,.step1Form-row{
    margin-top: 45px;
}

#yesCheckbox{
    margin-left: 12px;
    cursor: pointer;
}
#noCheckbox{
    margin-left: 60px;
    cursor: pointer;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.form-label{    

    width: 290px;
    height: 20px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 8px !important;
    margin-top: 8px !important;

  
}
.inputFormControl {
    width: 256px;
    height: 40px;
    border-radius: 3px;
    border: solid 1px #526173;
    padding: 8px;
}
.profile-text {
    width: 344px;
    height: 20px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-top:  40px;;
    margin-bottom: 32px !important;
}
.uploadFile {
    width: 142px;
    height: 36px;
    background-color: #39bcd5;
    font-family: 'Open Sans';
    font-size: 14px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43 !important;
    letter-spacing: normal;
    color: #ffffff;
    border-radius: 20px !important;
}
.removeBtn {
    width: 59px;
    height: 20px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin: 15px 0 0 40px;
    cursor: pointer;
}

/* Step-6 styles================== */
.step6-form{
    margin-left: 30px;
}

.col4{
    color: #39bcd5;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
}

.col1,.col2,.col3{
    word-wrap: break-word;  
    color: #2f4858;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
}

.step6Form-row{
    height: 120px;
    padding: 40px 0px 40px 0px;
    border-bottom: 2px solid rgba(51, 101, 138, 0.5);
    width: 1000px;
}
.step6-form .staticText{
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;

}

.tableClass{
    width: 800px;

}
.tableHeaderClass{
    text-align: center;
    color: rgba(47, 72, 88, 0.5);
    font-size: 14px;
    font-weight: bold;
}
.tableCols{
    text-align: center;
    border: 1px solid rgba(51, 101, 138, 0.25);
}
.outsideTableCols{
    text-align: center;

}
input[type=checkbox]{
    cursor: pointer;
}

.staticTextAndTbl{
    border-bottom: 2px solid rgba(51, 101, 138, 0.5);
    width: 800px;
}
.staticTextBelowTable{
    padding: 40px 0px 65px 0px;
    color: rgba(47, 72, 88, 0.5);
    font-size: 23px;
    font-weight: bold;
}
.tableCaret i{
    margin-left: 7px;
    font-size: 18px;
}



