.sidenav {
    width: 256px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212121;
    overflow-x: hidden;
    padding-top: 20px;
}


.sidenav .fa-home{
    margin-right: 15px;
}
.sidenav h1 i{
    float:left;
    margin-right:10px;
    margin-left:20px;
    margin-top: 3px;
}

.sidenav ul li a.active {
    color: #39bcd5;
    opacity: 1;
    font-weight: bold;
}
.sidenav ul li a {
    padding: 10px 8px 10px 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    display: block;
    opacity: 0.75;
    outline: none !important;
}

.sidenav h1 {
    color: #ffffff;
    font-size: 20px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}
.sidenav h2 a {
    color: #ffffff !important;
    text-decoration: none !important;
}
.sidenav h2 {
    color: #ffffff;
    font-size: 16px;
    display: block;
    margin-left: 20px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.sidenav .section-head {
    background-color: #0288d1;
    color: #ffffff;
    padding-left: 10px;
    margin-top: 20px;
}

.sidenav .section {
    padding: 20px 0;
}

.header-container {
    display: inline-block;
    width: 256px;
}


.sidenav .active-item .fa{
    margin-right: 15px;
}
.sidenav .active-item {
    padding: 12px 10px 12px 14px;
    background-color: #00bcd4;
    color: #ffffff;
    border-left: 8px solid #295170;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.btn-add {
    margin-right: 10px;
    font-size: 26px;
    margin-top: -10px;
    cursor: pointer;
}

.main {
    margin-left: 286px; 
    max-width: 75%;
}
#createFund .radio-inline {
    width: 105px;
}

.main-heading {
    width: 98%;
    color: #2f4858;
    border-bottom: 2px solid rgba(51, 101, 138, 0.5);
    margin: 30px 20px 10px 4px;
    padding-bottom: 24px;
}
.main-content{
    min-height: 600px;
}

.footer-nav {
    width: 100%;
    color: #39bcd5;
    border-top: 2px solid rgba(51, 101, 138, 0.5);
    padding: 40px;
    text-align: center;
}

.footer-nav i {
    border: 1px solid #39bcd5;
    padding: 12px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.main-title {
    font-size: 26px;
    font-weight: bold;
    margin-left: 20px;
}
#createFund a:not([href]):not([tabindex]) {
    color: #ffffff;
    cursor: pointer;
}
.cancel-fund {
    font-size: 20px;
    font-weight: bold;
    float: right;
    margin-right: 135px;
    margin-top: 8px;
    color: #2f4858 !important;
    text-decoration: none !important;
}

.start-box {
    color: #ffffff;
    opacity: 0.5;
    padding-top: 8px;
    font-size: 16px;
    font-weight: bold;
    width: 232px;
    height: 40px;
    background-color: rgba(245, 245, 245, 0.3);
    border-radius: 20px;
    text-align: center;
    margin-left: 9px;
}

.start-fund {
    color: #ffffff;
    padding-top: 8px;
    font-size: 16px;
    font-weight: bold;
    width: 232px;
    height: 40px;
    background-color: #39bcd5;
    border-radius: 20px;
    text-align: center;
    margin-left: 9px;
    cursor: pointer;
}

.form-grid {
    padding: 0 30px 0 30px;
    width: 610px;
  }

  .form-row{
    margin-top: 10px;
  }



.ddstyle {
    width:300px;
    background-color: #ffffff;
    text-align: left;
}

.user {
    text-align: center;
    color: rgba(255, 255, 255, 0.25);
    margin-top: 30px;
    padding: 0 30px 0 30px;
}

.user p {
    text-align: center;
    color: #ffffff;
}

.header-right {
    margin-top: 20px;
    float: right;
}

.fsbadge {
    padding: 1px 9px 2px;
    font-size: 10px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #03a9f4;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    float: right;
    margin-top: 5px;
}
#createFund .GpDelegatesContainer .error{
    margin-left: 25px;
    margin-bottom: 25px;
}
#createFund .GpDelegatesContainer{
    margin-left: 18px;
    width: 98%;
}
#createFund .LpDelegatesContainer .error{
    margin-left: 25px;
    margin-bottom: 25px;
}
#createFund .LpDelegatesContainer{
    margin-left: 51px;
    width: 98%;
}
.assignGp {
    /*width: 201px;*/
    height: 32px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
}
.Subtext {
    /*width: 410px;*/
    height: 20px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 44px;
}
#createFund .gpDelegateButton {
    width: 210px;
    height: 40px;
    background-color: #39bcd5;
    border-radius: 30px !important;
    font-family: 'Open Sans';
    font-size: 16px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: normal;
    color: #ffffff;
    padding: 8px 51px 8px 62px !important;
    box-shadow: initial !important;
}
#createFund .lpDelegateButton .fa{
    position: relative;
    font-size: 18px;
    top: 2px;
    right: 16px;
}
#createFund .lpDelegateButton{
    width: 210px;
    border: solid 1px #39bcd5 !important;
    color: #39bcd5 !important;
    background-color: white !important;
    height: 40px;
    border-radius: 30px !important;
    font-family: 'Open Sans';
    font-size: 16px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: normal;
    color: #ffffff;
    padding: 8px 40px 8px 30px;
    box-shadow: initial !important;
}
.lpName {
    /*width: 100px;*/
    height: 20px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
  }
.organizationName {
    width: 117px;
    height: 16px;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
}
.lpCheckBox{
    top: 3px !important;
}
.rowWidth{
    width: 50%;
    margin-bottom: 9px;
    margin-left: 3px !important;
}
.rowLpWidth{
    width: 50%;
    border: 1px solid lightgray;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 3px !important;
}
.lpNameHeading {
    width: 54px;
    height: 16px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    margin-right: 4px;
    margin-left: 47px;
  }
  .organizationHeading {
    width: 78px;
    height: 16px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    margin-right: 4px;
  }
.lpDelegateImg{
    top: 0px !important;
    margin-left: 0px !important;
}
.checkBoxGpContainer{
    margin-top: 24px;
    margin-bottom: 74px;
}
.Rectangle-6 {
    width: 380px;
    height: 48px;
    box-shadow: inset 0 -1px 0 0 rgba(117, 117, 117, 0.25);
    border: 1px solid lightblue;
    padding: 14px 0; 
    display: block;
    border-bottom: none !important;
}
.Ben-Parker {
    height: 20px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    position: relative;
    top: -5px;
}
.checkBoxBen {
    width: 24px;
    height: 24px;
    object-fit: contain;
    /*display: inline-block;*/
    float: right;
    position: relative;
    top: -5px; 
    
}

#createFund #header-right {
    max-width: 100%;
    margin-top: 15px;
    height: 35px;
}
#createFund .header-right-row {
    width: 512px;
    position: relative;
    right: -48%;
}
.gpdelegateImg {
    width: 32px;
    height: 32px;
    position: relative;
    top: -7px;
    margin-right: 12px;
    margin-left: 13px;
  }
  /*for step-2 Modal Form =========*/
  #createFund .addRoleModal {
    opacity: 1!important;
    border-radius: 8px;
    position: absolute;
    z-index: 1000;
    right: 0;
    left: 0;
    top: 240px;
    margin: auto;
    background-color: #ffffff;
    -webkit-box-shadow: -8px 8px 16px 0 rgba(82, 97, 115, 0.18);
    box-shadow: -8px 8px 16px 0 rgba(82, 97, 115, 0.18);
    border: solid 1px rgba(74, 74, 74, 0.25);
    padding-bottom: 15px;
    padding-top: 24px;
    padding-left: 31px;
    width: 670px;
    min-height: 496px;
    height: auto;
}
#createFund .form-main-div {
    min-height: 280px;
}
#createFund .modal-subtext {
    width: 448px;
    margin-bottom: 32px;
}
.addGpFLName {
    width: 290px;
    height: 20px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 8px !important;
}
.inputFormBox {
    width: 290px;
    height: 40px;
    border-radius: 3px;
    border: solid 1px #526173;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
    padding: 8px;
    margin-bottom: 24px !important;
}
.addGpCancelBox{
    width: 290px;
    height: 48px;
    border-radius: 24px !important;
    font-family: 'Open Sans';
    font-size: 20px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6 !important;
    letter-spacing: normal;
    text-align: center !important;
    color: #2f4858;
    background-color: #ffffff;
}
.addGpSubmitBox {
    width: 290px;
    height: 48px;
    background-color: skyblue !important;
    font-family: 'Open Sans';
    font-size: 20px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6 !important;
    letter-spacing: normal;
    text-align: center !important;
    color: #ffffff;
    border-radius: 30px !important;
  }
.cancelSubmitMargin{
    margin-top: 104px;
}
/* For step3 page ======*/
.uploadFundDocument {
    width: 253px;
    height: 24px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
    margin-left: 20px;
    margin-bottom: 24px;
}
.titleChooseFile {
    width: 220px;
    height: 32px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
}
.titleChooseSubtext {
    width: 522px;
    height: 20px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 46px;
}
#createFund .filesize {
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    margin-left: 20px;
    margin-bottom: 10px;
}
#createFund .upload-doc-name {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2f4858 !important;
    margin-left: 20px;
    text-decoration: underline !important;
}
#createFund .uplodFileContainer {
    width: 529px;
    min-height: 105px;
    border: dashed 2px #9b9b9b;
    padding-top: 24px;
    padding-left: 17px;
}
#createFund .uploadFileBox:after {
    content: 'Upload File'
}
#createFund .uploadFileBox {
    width: 142px;
    height: 36px;
    background-color: skyblue !important;
    font-family: 'Open Sans';
    font-size: 14px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43 !important;
    letter-spacing: normal;
    color: #ffffff;
    padding: 8px 30px !important;
    border-radius: 30px !important;
    margin-top: 10px;
    box-shadow: initial !important;
}
#createFund .uploadFileBox:hover:after, #createFund .file-drop-dragging-over-frame .uploadFileBox:after {
    content: 'Drop Files Here to Upload'
}
#createFund .uploadFileBox:hover + span, #createFund .file-drop-dragging-over-frame .uploadFileBox + span{
    display: none;
}
#createFund .uploadFileBox:hover, #createFund .file-drop-dragging-over-frame .uploadFileBox{
    width: 496px;
    height: 56px;
    border-radius: 0px !important;
    background-color: #39bcd5;
    font-family: 'Open Sans' !important;
    font-size: 24px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff !important;
    margin-top: 0px !important;
    box-shadow: initial !important;
}
.uploadFileSubtext {
    width: 348px;
    height: 40px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    float: right;
    position: relative;
    /*left: -20px;*/
}
.chooseFileMargin{
    margin-left: 32px;
    margin-bottom: 12%;
}

/* For step1 form =======================*/
.step1FormClass{
    margin-left: 19px;
    width: 100%;
}

#step1Form,.step1Form-row{
    margin-top: 24px;
}

#yesCheckbox{
    margin-left: 12px;
    cursor: pointer;
}
#noCheckbox{
    margin-left: 60px;
    cursor: pointer;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-right: 10px;
}
.profilePicName {
    position: absolute;
    top: 7px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    font-family: 'Open Sans';
}

.form-label{    
    width: 290px;
}

#createFund .profile-text {
    width: 344px;
    height: 20px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-top:  40px;;
    margin-bottom: 32px !important;
}
.uploadFile {
    width: 142px;
    height: 36px;
    background-color: #39bcd5;
    font-family: 'Open Sans';
    font-size: 14px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43 !important;
    letter-spacing: normal;
    color: #ffffff;
    border-radius: 20px !important;
    box-shadow: initial !important;
}
.removeBtn {
    width: 59px;
    height: 20px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin: 15px 0 0 40px;
    cursor: pointer;
}

/* step-3 styles================= */
.step3Class, .step2Class{
    margin-left: 20px;
    width: 100%;
}

/* step-4 styles============= */
.step4Class{
    margin-left: 30px;
    width: 100%;
}
.step4ClassAboveFooter{
    margin-left: 17px;
}



/* Step-6 styles================== */

.step6Class{
    margin-left: 20px;
    width: 100%;
}
.step6ClassAboveFooter{
    width: 100%;
}

/* .step6ClassAboveFooter .step6-rows{
    margin:0px !important;
} */
.step6ClassAboveFooter{
    margin-left: 20px;
    width: 100%;
}


.col4 a{
    color: #39bcd5 !important;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    cursor:pointer;
    text-decoration: none;
    padding: 0px;
    margin-left: 70%;
}

.col4 a:hover {
    color: #39bcd5;
    text-decoration: none;
    padding: 0px;
}

.col1,.col2,.col3{
    word-wrap: break-word;  
    color: #2f4858;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    padding: 0px;    
}

#createFund #step6-rows1{
    min-height: 170px;
    padding: 20px 0px 24px 0px;
    border-bottom: 2px solid rgba(51, 101, 138, 0.5);
    /* width: 1000px; */
    width: 850px;
    margin:0px !important;
}
#createFund #step6-rows1 .step6-col-pad{
    padding: 0px;
} 
.step6-rows{
    height: 90px;
    padding: 24px 0px 0px 0px;
    border-bottom: 2px solid rgba(51, 101, 138, 0.5);
    width: 850px;
    margin:0px !important;
}
.step6-rows .step-col-pad{
    padding: 0px;
}
.height80{
    height: 80px !important;
}

.step6-rows .col2-redirection{
    color: #2f4858;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid rgba(51, 101, 138, 0.5);
}
.step6-rows .col2-redirection a:hover{
    color: #2f4858;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid rgba(51, 101, 138, 0.5);

}

.staticTextAndTbl .staticText{
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;

}

.tableClass{
    width: 800px;

}
.tableHeaderClass{
    text-align: center;
    color: rgba(47, 72, 88, 0.5);
    font-size: 14px;
    font-weight: bold;
}
.tableCols{
    text-align: center;
    border: 1px solid rgba(51, 101, 138, 0.25);
    padding: 0 0 0 10px !important;
}
.outsideTableCols{
    text-align: center;
    padding: 0 0 0 10px !important;
}
input[type=checkbox]{
    cursor: pointer;
}

/* .staticTextAndTbl{
    border-bottom: 2px solid rgba(51, 101, 138, 0.5);
    width: 1000px;
} */
.staticTextBelowTable{
    border-top: 2px solid rgba(51, 101, 138, 0.5);
    padding: 32px 0px 64px 0px;
    color: rgba(47, 72, 88, 0.5);
    font-size: 23px;
    font-weight: bold;
    width:850px;
}
.staticTextBelowTable .staticTextBelowText{
    
        width: 600px;
        height: 64px;
        opacity: 0.5;
        font-family: OpenSans;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: #2f4858;
    
}
.startFundButtonStyle {
    text-align: center;
    padding-bottom: 20px;
}
.tableCaret i{
    margin-left: 7px;
    font-size: 18px;
}
/*For step4 form =====*/
.viewApproveFormAllign{
    margin-left: 35px;
    margin-top: 36px;
}
.viewApproveForm {
    width: 238px;
    height: 32px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
}
.viewApproveSubtext {
    width: 250px;
    height: 20px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 14px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43 !important;
    letter-spacing: normal;
    color: #2f4858;
}
.printButton {
    width: 98px;
    height: 36px;
    background-color: skyblue;
    border-radius: 30px  !important;
    font-family: 'Open Sans';
    font-size: 14px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43 !important;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 34%;
    margin-right: 16px;
}
.approveDocumentButton {
    width: 196px;
    height: 36px;
    background-color: skyblue;
    border-radius: 30px !important;
    font-family: 'Open Sans';
    font-size: 14px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43 !important;
    letter-spacing: normal;
    color: #ffffff;
}
.documentViewWindow {
    width: 690px;
    height: 868px;
    border: solid 1px rgba(51, 101, 138, 0.5);
    padding-top: 40%;
    padding-left: 12%;
    margin-top: 12px;
    margin-bottom: 5.5%;
}
.documentViewText {
    width: 461px;
    height: 54px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
     
}
#createFund .borderNone {
    border: none !important;
    width: 100% !important;
    min-height: 50px !important;
}
#createFund .full-width {
    width: 100% !important;
}
#createFund .fsnetButton {
    width: 210px;
}
#createFund .fsnetButton .fa{
    position: relative;
    font-size: 18px;
    top: 2px;
    right: 6px;
}
#createFund .userRow {
    height: 48px;
    border-bottom: 1px solid #add8e6;
    width: 100%;
    line-height: 20px;
}
#createFund .user-image {
    width: 32px;
    height: 32px;
    margin-left: 10px;
}
#createFund .fund-user-name {
    width: 300px;
    min-height: 20px;
    height: auto;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    padding-left: 20px;
}
#createFund .lp-name {
    width: 215px;
    min-height: 20px;
    height: auto;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    padding-left: 20px;
}
#createFund .lp-name-pad{
    padding-left: 28px;
}
#createFund .checkbox {
    position: relative;
    top: 4px;
}
#createFund .marginLeft75 {
    margin-left: 75px;
}
#createFund .name-heading .fa{
    position: relative;
    left: 5px;
    top: -2px;
    font-size: 18px;
}

#createFund .name-heading {
    width: 225px;
    min-height: 16px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    cursor: pointer;
}
#createFund .lpName_pad{
    padding-left: 45px;
}
#createFund .userContainer {
    width: 400px;
    min-height: 150px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: inset 0 -1px 0 0 rgba(117, 117, 117, 0.25);
    box-shadow: inset 0 -1px 0 0 var(--warm-grey-25);
    border: 1px solid #add8e6;
    margin-top: 30px;
    margin-bottom: 30px;
}
#createFund .userLPContainer {
    width: 530px;
    height: 250px;
    /* max-height: 400px; */
    overflow: hidden;
    box-shadow: inset 0 -1px 0 0 rgba(117, 117, 117, 0.25);
    box-shadow: inset 0 -1px 0 0 var(--warm-grey-25);
    border: 1px solid #add8e6;
    margin-top: 30px;
    margin-bottom: 30px;
    /* margin-left: 10px; */
}
#createFund .userContainer {
    width: 400px;
    min-height: 150px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: inset 0 -1px 0 0 rgba(117, 117, 117, 0.25);
    box-shadow: inset 0 -1px 0 0 var(--warm-grey-25);
    border: 1px solid #add8e6;
    margin-top: 30px;
    margin-bottom: 30px;
}

#createFund .react-phone-number-input{
    margin-top: 8px;
}
#createFund .dropFilesButton {
    width: 496px;
    height: 56px;
    border-radius: 4px;
    background-color: #39bcd5;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
}
#createFund .width100 {
    width: 100%
  }
  #createFund .checkIcon {
    margin-right: 10px;
    float: right;
    color: #ffffff;
    font-size: 10px;
    margin-top: 6px;
  }
.faChk {
    background: #1ADBB9;
    border-radius: 50%;
    padding: 2px;
}
.lpNameWidth {
    width: 35%;
}
.orgNameStyle {
    padding-top: 18px !important;
    width: 35%;
    text-align: left;
    padding-left: 13px !important;
}
.gpDelDiv {
    max-height: 200px;
    overflow-y: auto;
}
.cboxAlign {
    top: 8px !important;
}
.gpDelegateInfo {
    color: #fff;
    height: 48px;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
}
.dpDelImg {
    width: 20%;
    float: left;
    width: 20%;
    float: left;
    position: relative;
    top: -4px;
}
.dpDelName {
    width: 66%;
    float: left;
}
.dpDelgDel {

}

.gpDelDiv::-webkit-scrollbar {
    width: 12px;
}
.gpDelDiv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); ;
    border-radius: 10px;
}
.gpDelDiv::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #318D9E;
}
.table1stColAlign {
    margin-left: -36px;
}
.strtFndChk {
    font-size: 20px;
    font-weight: normal;
    position: relative;
    right: 4px;
}
.formGridDivMargin {
    margin: 15px 0;
}
.width37 {
    width: 37%;
}

.fa-sort-up:before, .fa-sort-asc:before {
    content: "\f0de";
    position: relative;
    top: 8px;
}
.fa-chevron-right.disabled {
    background: #DEE1E4 !important;
    color: #fff !important;
    border: 1px solid #DEE1E4 !important;
    opacity: .65;
    cursor: not-allowed;
    pointer-events: none;
}
.fa-chevron-right:hover {
    background: #39bcd5;
    color: #fff;
}
.fa-chevron-left:hover {
    background: #39bcd5;
    color: #fff;
}
.footerNavStep2 {
    margin-left: -15px;
}
.croosMarkStyle {
    text-align: right;
    margin-top: -20px;
    margin-right: 20px;
    font-weight: bold;
}
.borderTopNone {
    border-top: none !important;
}
.fa-trash:before {
    font-size: 16px;
}
.cursorDisabled {
    cursor: disabled;
    pointer-events: none;
}
.pointerNone {
    pointer-events: none;
}
#createFund .fundStartModal .subtext{
    width: 448px;
    height: 130px;
}
#createFund .patnership-link {
    width: 156px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
}
#createFund .fundBtnRow {
    margin-top: 20px;
}
#createFund .fundStartModal {
    opacity: 1!important;
    border-radius: 8px;
    position: absolute;
    z-index: 1000;
    right: 0;
    left: 0;
    top: 100px;
    margin: auto;
    background-color: #ffffff;
    -webkit-box-shadow: -8px 8px 16px 0 rgba(82, 97, 115, 0.18);
    box-shadow: -8px 8px 16px 0 rgba(82, 97, 115, 0.18);
    border: solid 1px rgba(74, 74, 74, 0.25);
    padding-bottom: 15px;
    padding-top: 24px;
    padding-left: 31px;
    width: 670px;
    height: 320px;
}
 @media only screen and (max-width: 1180px) {
  .contentWidth {
      width: 900px !important;
  }
  #createFund .header-right-row {
    width: 683px;
    position: relative;
  }
}

 @media only screen and (max-width: 780px){ 
    #createFund .header-right-row {
        width: 967px;
        position: relative;
    }

 }

 @media only screen and (min-width: 1450px){ 
    #createFund .header-right-row {
        width: 512px;
        position: relative;
        right: -60%;
    }

 }