<div class="tagComponentContainer commonContainer">

  <div class="leftsideTagsNavbar" *ngIf="show_sidebar">
    <div class="manageTags">
      <ul>
        <li><span><img src="assets/images/settings/settings_light.svg" alt="settings_img"></span> Manage Tags</li>
        <li (click)="toggle()">Hide Sidebar</li>
      </ul>
    </div>
    <div class="companyTags" *ngIf="userRole == 3">
      <p class="header">Company Name</p>
      <div class="inputBlock">
          <input type="text" placeholder="Enter a tag" [(ngModel)]="companySearchValue"  maxlength="20" [ngbTypeahead]="search" (input)="searchTag($event.target.value)"/>
          <span *ngIf="companySearchValue" (click)="clearSearchValue('companySearchValue')"><img src="assets/images/close_images/close_dark.svg"></span>
          <button class="btn btn-sm btn-primary" *ngIf="tagsResultArray.length == 0 && companySearchValue" (click)="addTag('1',companySearchValue)">Add</button>
      </div>
      <span>{{companySearchValue.length}}/20</span>
      <div class="emptyTagsImage" *ngIf="companyTags.length == 0">
        <img src="assets/images/empty-state_tags.png" />
      </div>
      <div class="defaultbadgeList" *ngIf="companyTags && companyTags.length > 0">
        <div class="defaultbadge" *ngFor="let tag of companyTags">
          <span class="label badgeText companyTag">{{tag.name}} <img (click)="removeTag(tag.id,'1')"
              src="assets/images/close_images/close_light.svg" /></span>
        </div>
      </div>
    </div>
    <div class="companyTags">
      <p class="header">Custom Name</p>
      <div class="inputBlock">
          <input type="text" placeholder="Enter a tag" [(ngModel)]="customeSearchValue"  maxlength="20" [ngbTypeahead]="search" (input)="searchTag($event.target.value)"/>
          <span *ngIf="customeSearchValue" (click)="clearSearchValue('customeSearchValue')"><img src="assets/images/close_images/close_dark.svg"></span>
          <button class="btn btn-sm btn-primary" *ngIf="tagsResultArray.length == 0 && customeSearchValue" (click)="addTag('2',customeSearchValue)">Add</button>
      </div>
      <span>{{customeSearchValue.length}}/20</span>
      <div class="emptyTagsImage" *ngIf="customTags.length == 0">
        <img src="assets/images/empty-state_tags.png" />
      </div>
      <div class="defaultbadgeList" *ngIf="customTags && customTags.length > 0">
        <div class="defaultbadge" *ngFor="let tag of customTags">
          <span class="label badgeText customTag">{{tag.name}} <img (click)="removeTag(tag.id,'2')"
              src="assets/images/close_images/close_orange.svg" /></span>
        </div>
      </div>
    </div>
    <div class="companyTags" *ngIf="userRole == 4">
        <p class="header">Company Name</p>
        <div class="emptyTagsImage" *ngIf="companyTags.length == 0">
          <img src="assets/images/empty-state_tags.png" />
        </div>
        <div class="defaultbadgeList" *ngIf="companyTags && companyTags.length > 0">
          <div class="defaultbadge" *ngFor="let tag of companyTags">
            <span class="label badgeText companyTag">{{tag.name}} 
              <!-- <img (click)="removeTag(tag.id,'1')"
                src="assets/images/close_images/close_light.svg" /> -->
              </span>
          </div>
        </div>
      </div>
  </div>

  <div class="right-tagsList-container">
    <div class="row">
      <div class="col-1" *ngIf="!show_sidebar">
        <span (click)="toggle()">
          <img src="assets/images/settings/settings_dark.svg" alt="settings_dark" title="Show Sidebar" />
        </span>
      </div>
      <div class="col-11">
        <select class="select-control" id="checkImg" [(ngModel)]="filterTag" (change)="getTags($event.target.value)">
          <option [value]="0">All Tags</option>
          <option [value]="1">System Tags</option>
          <option [value]="2">Custom Tags</option>
          <option [value]="3">Untagged</option>
        </select> 
        <ul class="P0" *ngIf="headerTags && headerTags.length > 0">
          <li class="badge" [ngClass]="(tag.isselected) ? 'active' : ''" *ngFor="let tag of headerTags" (click)="activeTag(tag)"><span class="label badgeText">{{tag.name}}</span></li>
        </ul>
        <div  class ="filterTagsBlock" *ngIf="totalCount > 0">
          <div class="filterStatus">
              <span><img src="assets/images/filter/filter.png" /></span>
              <p id="#" (click)="open()">Filters : {{changeStatus ? 'On':'Off'}}</p>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" sortable="resource-name" class="custom-select">Resource Name</th>
                <!-- <th scope="col" sortable="resource-typename" class="custom-select">Resource Type Name</th> -->
                <th scope="col" sortable="resource-typename" class="custom-select">
                  <div class="pop-div">
                    <a id="poplink" href="javascript:void(0);">Resource Type Name</a>
                    <div class="pop-title">Title here</div>
                    <div class="pop-content">Content here</div>
                </div>
                </th>
                <th scope="col" sortable="resource-category" class="custom-select">Resource Category</th>
                <th scope="col" sortable="resource-subcategory" class="custom-select">Resource Subcategory</th>
                <th scope="col" sortable="resource-id" class="custom-select">Resource ID</th>
                <th scope="col" sortable="resource-region" class="custom-select">Resource Region</th>
                <!-- <th scope="col" sortable="usage-start-time" class="custom-select">Usage Start Time</th>
                <th scope="col" sortable="usage-end-time" class="custom-select">Usage End Time</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let resource of allResourcesArr.data">
                <td>{{resource.resourceName}}</td>
                <td>{{resource.resourceTypeName}}</td>
                <td placement="right"
                [ngbPopover] = "openPopover" popoverClass="my-custom-class" class="cursor">{{resource.resourceCategory}}</td>
                <td>{{resource.resourceSubcategory}}</td>
                <td>{{resource.resourceId}}</td>
                <td>{{resource.resourceRegion}}</td>
                <!-- <td>{{resource.usageStartTime}}</td>
                <td>{{resource.usageEndTime}}</td> -->
              </tr>
            </tbody>
          </table>
          <ng-template #openPopover>
            <ul>
              <li (click) ="openModal();">Add Tags</li>
              <li>Action 2</li>
              <li>Action 3</li>
            </ul>
          </ng-template>
          <div class="paginationWidth mt20">
              <ngb-pagination *ngIf="totalCount > pageSize" [collectionSize]="totalCount" [(page)]="page" [pageSize]="pageSize" [maxSize]="7" [boundaryLinks]="true" (pageChange)="loadPage($event,pageSize)"></ngb-pagination>
              <div class="showText floatRight" *ngIf="totalCount > 10">Show:
                <select (change)="valuechange($event)"  [(ngModel)]="pageSize">
                  <option value="10">10 Rows</option>
                  <option value="20">20 Rows</option>
                  <option value="40">40 Rows</option>
                  <option value="60">60 Rows</option>
                  <option value="100">100 Rows</option>
                </select>
              </div>
          </div>
        </div>
        <div class="notag-matches" *ngIf="totalCount === 0">
          <img src="assets/images/notag-matches.svg" alt="nomatch-tag_img">
          <p>No matches for the combination of tags you’ve selected.</p>
        </div>
      </div><!--col-11-->
      </div><!--row-->
    </div><!--right-tagsList-container-->
  </div>
  