@import 'styles/variables.scss';

.headerContainer{
    box-shadow: inset 0 1px 3px 0 rgba(74, 74, 74, 0.5);
    background-color: $headerBG;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    height: 80px;
    // position: fixed;
    z-index: 1000;
    top: 0px;
    &.positionFixed{
        position: fixed;
    }
    .playaLogo{
        .floatLeft img{
            padding-top: 14px;
            padding-left: 20px;
            cursor: pointer;
            width: 160px;
            height: 50px;
        }
    }
    .paddingRight8Percent{
        padding-right: 8%;
        .customerLogoWidth{
            width: 48px;
            height: 48px;
            background-color: $white;
            border-radius: 50px;
            margin-right: 20px;
            position: relative;
            top: -4px;
        }
        .customerDetails{
            display: inline-block;
            position: relative;
            top: 10px;
            width: 120px;
        }
        .arrowIcon{
            position: relative;
            top: -12px;
        }
        .customerDesignation{
            opacity: 0.5;
            font-family: Heebo;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: $white;
        }
    }

    .cursorPointer{
        padding-left: 13px;
        list-style-type: none;
        margin-bottom: 0;
        padding-right: 13px;
        cursor: pointer;
    }

    .customerName{
        font-family: $heebo;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $white;
        margin-right: 8px;
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
    }
    .companyView{
        margin-left: 185px;
        // display: inline-block;
        border-left: 2px solid #bdbdbd;
        height: 48px;
        padding-left: 36px;
        position: relative;
        top: 7px;
        select {
            width: 115px;
            height: 24px;
            font-family: Heebo;
            font-size: 16px;
            margin-top: 12px;
            background-color: #2a3438;
            color: #FFF;
            border: none;
        }
    }
}

.companyNameAlign{
    position: relative;
    top: 15px;
}