<div class="headerContainer" #headerBGColor>
  <div class="row">
    <div class="playaLogo col-lg-6 col-md-6 col-sm-3 col-xs-4">
      <div class="floatLeft">
        <img [src]="logo" (click)="dashboard()">
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-9 col-xs-8 paddingRight8Percent" *ngIf="showProfile">
      <div class="floatRight" >
        <img src="/assets/images/empty-state.png" class="customerLogoWidth">
        <div class="customerDetails">
          <div class="customerName">{{userProfileObj.name}}</div>
          <div class="customerDesignation">{{userProfileObj.rolename}}</div>
        </div>
        <!-- <img src="/assets/images/down-arrow.png" class="arrowIcon"> -->
        <span class=" arrowIcon profile cursor"  placement="bottom" [ngbPopover]="profilePopover" [autoClose]="'outside'"
        popoverClass="button-list-popover" #p1="ngbPopover">
          <img class="profile-pic"  src="/assets/images/down-arrow.png"/>
          <!-- <img class="profile-pic" *ngIf="!user.profilePic" [src]="'assets/images/user_default.png'"/> -->
      </span>
        <!-- custom Class -->
        <ng-template #profilePopover>
          <ul class="cursorPointer">
            <li class="hand" (click)="logout()">
              <a>Logout</a>
            </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </div>
</div>
