.dashboardMainRow  {
    margin: 20px !important
}
.user-name {
  height: 24px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #39bcd5 !important;
  cursor: pointer;
}
.user-name .fa {
    color: #39bcd5 !important;
    cursor: pointer;
}
.header-right-row {
    width: 350px;
    float: right;
    position: relative;
    right: -15%;
}
.logout {
    cursor: pointer;
    margin-right: 10px;
} 
.user-name i {
    width: 10px;
    height: 6px;
    color: #2f4858;
    padding: 0 20px 0px 4px;
}
.profilePic {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    position: relative;
    top: -8px;
    margin-right: 10px;
}
.notification-icon {
    width: 24px;
    height: 24px;
    position: relative;
    top: 3px;
}
.notification-count {
    width: 16px;
    height: 16px;
    background-color: #e92940;
    font-size: 10px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    left: -16px;
    top: -5px;
    color: #FFF;
}
.overFlowIcon {
    width: 24px;
    height: 24px;
}
.ellipsisH {
    width: 24px;
    height: 24px;
    position: relative;
    top: 5px;
    font-size: 20px;
}
.user-dropdown-list {
    width: 264px;
    height: 136px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(155, 155, 155, 0.5);
    position: absolute;
    z-index: 9999;
    top: 30px;
    left: -140px;
}
.user-dropdown-list ul {
    list-style-type: none;
    padding-left: 15px !important;
}
.user-dropdown-list ul li img {
    padding-right: 10px !important;
}
.user-dropdown-list ul li a {
    color: #2f4858 !important;
    text-decoration: none !important
}
.user-dropdown-list ul li {
    width: 168px;
    height: 40px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 45px;
    letter-spacing: normal;
    color: #2f4858;
    cursor: pointer;
}
@media only screen and (max-width: 480px) {
    .row.dashboardMainRow {
        margin: 20px 0px !important;
    }
}