<div class="primaryNavbar">
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link">
          <img src="../../assets/images/control-panel.png">
          <div class="controlPanel">Control Panel</div>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="secondaryNavbar">
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLink]="['/editplayaprofile']" style="cursor:pointer;">
        <a class="nav-link">
          <img src="../../assets/images/edit-profile.png">
          <span class="navList">Profile Details</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/addcustomer']">
          <img src="../../assets/images/customers.png">
          <span class="navList">Customer Subscriptions</span>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/customersview']">
            <img src="../assets/images/customers.png">
            <span class="navList">Customers Table View</span>
          </a>
        </li>
    </ul>
  </nav>
</div>

