@import 'styles/variables.scss';
@import 'styles/mixin.scss';

.editProfileContainer{
    width: 78.30%;
    // height: 1592px;
    float: left;
    background-color: $white;
    margin: auto;
    .editProfile{
        width: 59%;
        margin-left: 9%;
        padding-top: 48px;
        padding-bottom: 40px;
        .editProfileText{
            font-family: $heebo;
            font-size: 24px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            color: $hexaBlack;
            margin-bottom: 8px;
            &.completeForm{
                opacity: 0.5;
                font-size: 16px;
                line-height: 1.5;
                font-weight: normal;
                margin-bottom: 32px;
            }
            &.customerType{
                opacity: 1.0;
                margin-bottom: 28px;
            }
            &.radioLabelText{
                position: relative;
                top: -8px;
                left: -5px;
                font-size: 14px;
                line-height: 1.43;
                font-weight: normal;
            }
            &.editProfileFormHeading{
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 16px;
            }
        } 
        .signInText {
            font-family: $heebo;
            font-size: 24px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            color: $hexaBlack;
            margin-bottom: 30px;
        }
        .labelText{
            font-family: $heebo;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: $hexaBlack;
            margin-bottom: 4px;
        }
        .inputTextBox {
            input,select {
                height: 40px;
                border-radius: 4px;
                border: 1px solid rgba(0,0,0,0.5);
                ::placeholder, ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder { 
                        color: #00a0ff;
                        opacity: 0.25;
                }
                &:focus {
                        border: 1px solid #00a0ff !important;
                        box-shadow: 0 0 8px 0 rgba(96, 195, 253, 0.7);
                }
            }
        }
        .faCircleMargin{
            margin-left: 12px;
            margin-right: 35px;
        }
        .cancelBtn{
            cursor: pointer;
            @include form-button(101px, 40px, $heebo, 16px, normal, normal, normal, 1.5, normal, center, $hexaBlack, $white, 4px, 1px solid $hexaBlack);
        }
        .saveSubmitBtn{
            cursor: pointer;
            @include form-button(164px, 40px, $heebo, 16px, bold, normal, normal, 1.5, normal, center, $white, $hexaBlue, 4px,"");
        }
        .removeBtn{
          cursor: pointer;
          position: relative;
          top: 25px;
          @include form-button('70px', 25px, $heebo, 10px, bold, normal, normal, 1.5, normal, center, $white, $menloBlue, 4px,"");
        }
        .fileInputs{
          position: relative;
          z-index: 2;

          .file{
              height: 80px !important;
              position: relative;
              opacity: 0;
              z-index: 2;
              cursor: pointer;
          }
          .dragDropFile{
              border: 1px dashed $nobel;
              background-color: $white;
              // height: 80px;
              width: 100%;
              position: absolute;
              top: 0px;
              left: 0px;
              z-index: 1;
              .dragDropPad{
                  padding-top: 12px;
                  padding-bottom: 12px;
                  .dragDropChoose{
                      font-family: $heebo;
                      font-size: 16px;
                      font-weight: normal;
                      font-style: normal;
                      font-stretch: normal;
                      line-height: 1.5;
                      letter-spacing: normal;
                      color: $hexaBlack;
                      .chooseFile{
                        color: $hexaBlue;
                      }
                  }
                  .fileType, .fileSize{
                      opacity: 0.5;
                      font-family: $heebo;
                      font-size: 12px;
                      font-weight: normal;
                      font-style: normal;
                      font-stretch: normal;
                      line-height: 1.33;
                      letter-spacing: normal;
                      color: $hexaBlack;
                  }
              }
          }
      }
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1583px){
  .editProfile{
      width: 82% !important;
  }
  .editProfileContainer{
    width: 74.30% !important;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1365px){
  .editProfile{
    width: 85% !important;
  }
  .editProfileContainer{
    width: 66.30% !important;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1023px){
  .editProfile{
    width: 89% !important;
  }
  .editProfileContainer{
    width: 55.30% !important;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1281px){
  .width85Percent{
    width: 77% !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 962px){
  .width85Percent{
    width: 95% !important;
  }
}
