<div class="editProfileContainer commonContainer">
  <div class="editProfile">
    <h1 class="editProfileText">Edit Profile</h1>
    <p class="editProfileText completeForm">Here you can make changes to your profile or password.</p>
    <form>
      <div class="editProfileForm">
        <!--User details section starts-->
        <div class="userDetails">
          <div class="editProfileText editProfileFormHeading mb24">User Details</div>
            <div>
              <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 pdZero">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pdLeft">
                      <div class="form-group inputTextBox mb24">
                        <label class="labelText">First Name</label>
                        <input type="text" class="form-control"  formControlName="firstName" placeholder="abc">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pdLeft">
                        <div class="form-group inputTextBox mb24">
                          <label class="labelText">Last Name</label>
                          <input type="text" class="form-control"  formControlName="lastName" placeholder="xyz">
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 pdZero">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pdLeft">
                      <div class="form-group inputTextBox mb32">
                        <label class="labelText">Email</label>
                        <input type="text" class="form-control"  formControlName="email" placeholder="abcxyz@gmail.com">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="editProfileText editProfileFormHeading mb24">Change Password</div>
          <div>
            <div class="row">
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 pdZero">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pdLeft">
                    <div class="form-group inputTextBox mb24">
                      <label class="labelText">Current Pasword</label>
                      <input type="password" class="form-control"  formControlName="firstName">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 pdZero">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pdLeft">
                    <div class="form-group inputTextBox mb64">
                      <label class="labelText">New Password</label>
                      <input type="password" class="form-control"  formControlName="email">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pdLeft">
                    <div class="form-group inputTextBox mb64">
                      <label class="labelText">New Password Again</label>
                      <input type="password" class="form-control"  formControlName="lastName">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--User details section Ends-->
    </form>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pdZero">
        <button type="submit" class="btn cancelBtn opacity-5" (click) = "cancel();">Cancel</button>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <button type="submit" class="btn saveSubmitBtn floatRight">Save Changes</button>
      </div>
    </div>
  </div>
</div>

