.dashboardContainer {
    width: 100%;
    margin: 0 !important;
}
.dashboardMainRow  {
    margin: 20px !important
}
.row.fund-container {
    margin: 0px auto !important;
    width: 75%;
}
.user-name {
    height: 24px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
}
.header-right-row {
    width: 225px;
    float: right;
}
.user-name i {
    width: 10px;
    height: 6px;
    color: #2f4858;
    padding: 0 20px 0px 4px;
}
.profilePic {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    position: relative;
    top: -8px;
    margin-right: 10px;
}
.notification-icon {
    width: 24px;
    height: 24px;
    position: relative;
    top: 3px;
}
.notification-count {
    width: 16px;
    height: 16px;
    background-color: #e92940;
    font-size: 10px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    left: -16px;
    top: -5px;
    color: #FFF;
}
.overFlowIcon {
    width: 24px;
    height: 24px;
  }
.myFunds {
    height: 36px;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #2f4858;
    margin-bottom: 20px;
    width: 100%;
}
.dashboard-filter {
    width: 24px;
    height: 24px;
}
.filter-mode {
    height: 17px;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2f4858;
    cursor: pointer;
}
.filter-mode i {
    padding-left: 3px;
}
.formFilterControl {
    display: inline-block !important;
    width: 288px !important;
    height: 40px;
    border-radius: 3px !important;
    border: solid 1px #526173 !important;
    box-shadow: initial !important;
    opacity: 0.25;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
    margin-left: 30px;
    padding-left: 30px !important;
}
.search-icon i {
    position: relative;
    left: 50px;
}
.fundBoxEdit{
    height: 288px;
    width: 288px;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(155, 155, 155, 0.5);
    background-color: #ffffff;
    border: solid 1px rgba(51, 101, 138, 0.25);
    padding: 8px 12px 16px 12px;
    margin: 30px 30px 30px 0;
}
/*.fundImageEdit{
    height: 48px;
}*/
.Fund-Image{
    width: 48px;
    height: 48px;
    border-radius:30px;
    top: -5px;
    position: relative;
    margin-right: 8px;
}
.Fund-Name {
    width: 152px;
    height: 38px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    margin-right: 14px;
}
.Bounding-Box {
    width: 20px;
    height: 20px;
    position: relative;
    top: -15px;
    margin-right: 2px;
}
.notificationCount {
    width: 16px;
    height: 20px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #39bcd5;
    position: relative;
    top: -18px;
}
.openEdit {
    width: 41px;
    height: 24px;
    border-radius: 2px !important;
    background-color: #03a9f4;
    font-family: 'Open Sans';
    font-size: 10px !important;
    font-weight: normal !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6 !important;
    letter-spacing: normal;
    text-align: center !important;
    color: #ffffff;  
    padding: 4px 7px 4px 8px !important;  
    margin-left: 56px;
    margin-right: 8px;
    margin-bottom: 31px;
}
.actionRequired {
    width: 99px;
    height: 24px;
    border-radius: 2px !important;     
    border: solid 1px #ff3a3a !important;
    font-family: 'Open Sans';
    font-size: 10px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6 !important;
    letter-spacing: normal;
    color: #2f4858;
    padding: 4px 9px 4px 10px !important;
    margin-bottom: 31px;
}
.Fund-Start-Date {
    width: 129px;
    height: 16px;
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    margin-bottom: 8px;
}
.text-style-1 {
    font-weight: normal;
}
.Fund-End-Date {
    width: 124px;
    height: 16px;
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    margin-bottom: 8px;
}
  .text-style-1 {
    font-weight: normal;
}
.Line {
    width: 240px;
    height: 2px;
    border: solid 1px rgba(51, 101, 138, 0.2);
    margin-bottom: 8px;
    margin-left: 12px;
}
.Invited {
    width: 19px;
    height: 24px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
    margin-left: 27px;
    margin-right: 77px;
}
  .Invited1 {
    width: 19px;
    height: 24px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
    margin-right: 82px;
}
  .Invited2 {
    width: 10px;
    height: 24px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
}
.labelInvited {
    width: 50px;
    height: 20px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    margin-left: 12px;
    margin-right: 28px;
    margin-bottom: 8px;
}
.labelClosedReady {
    width: 85px;
    height: 20px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    margin-right: 31px;
    margin-bottom: 8px;
}
.labelClosed {
    width: 46px;
    height: 20px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    margin-bottom: 8px;
}
.Hard-Cap-2000000 {
    width: 143px;
    height: 16px;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    margin-left: 118px;
}
.Dollars-Closed-17 {
    width: 174px;
    height: 16px;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
  }
  
  .text-style-1 {
    font-weight: normal;
  }
  label{
      margin-bottom: 0 !important;
}
.gridIcon {
    width: 24px;
    height: 24px;
    margin-left: 207px;
}
.view-mode {
    width: 65px;
    height: 17px;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2f4858;
}
.newFundButton {
    width: 144px;
    height: 40px;
    border-radius: 30px !important;
    border: solid 1px #39bcd5 !important;
    font-family: 'Open Sans';
    font-size: 16px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: normal;
    color: #39bcd5;
    background-color: white;
    float: right;
}
.progress-bar {
    width: 196px;
    height: 12px;
    background-color: rgba(245, 245, 245, 0.3) !important;
    border-radius: 20px;
}
.progress {
    width:  80% !important;
    background-color: #39bcd5 !important;
}
.fund-col-container {
    display: inline-block;
}
.filter-icon {
    padding-right: 5px;
    cursor: pointer;
}
.display-filter {
    display: inline-block;
}
.filter-right-block {
    float: right;
    width: 250px;
}
@media only screen and (max-width: 1180px) {
    .row.fund-container {
        width: 100%;
    }

}
@media only screen and (max-width: 480px) {
    .row.dashboardMainRow {
        margin: 20px 0px !important;
    }
}