@import 'styles/variables.scss' ;
@import 'styles/mixin.scss';
.loginContainer{
    padding-top: 11%;
    // background-blend-mode: overlay;
    // background-image: url("/assets/images/background.svg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // // background-position: center;
    // height: 100%;
    // padding-top: 176px;
    // padding-bottom: 273px;

    // background-image: url(/assets/images/background.svg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // height: 990px;
    // background-position: center center;
    .loginFormSection {
        width: 387px;
        // height: 448px;
        margin: auto;
        border-radius: 8px;
        border: solid 1px rgba(74, 74, 74, 0.25);
        background-color: $white;
        padding: 40px 20px 33px 20px;
        position: relative;
        top: 19%;
        .signInText {
            font-family: $heebo;
            font-size: 24px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            color: $hexaBlack;
            margin-bottom: 30px;
        }
        .signInTextPara{
            opacity: 0.5;
            font-family: $heebo;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: $hexaBlack;
        }
        .labelText{
            font-family: $heebo;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: $hexaBlack;
            margin-bottom: 4px;
        }
        .checkBoxText{
            font-family: $heebo;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: $hexaBlack;
            opacity: 0.5;
            margin-left: 5px;
        }
        .form-check{
            .form-check-input{
                width: 16px;
                height: 16px;
                opacity: 0.5;
                background-color: $hexaBlack;
            }
        }
        .signInBtn{
            cursor: pointer;
            @include form-button(100%, 40px, $heebo, 16px, bold, normal, normal, 1.5, normal, center, $white, $menloBlue, 4px,"");
        }
        .cancelBtn{
            cursor: pointer;
            margin: auto;
            display: block;
            @include form-button(101px, 40px, $heebo, 16px, normal, normal, normal, 1.5, normal, center, $hexaBlack, $white, 4px, none);
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
        .forgotPwd{
            font-family: $heebo;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: $hexaBlack;
            margin-top: 23px;
            opacity: 0.5;
        }
        .inputTextBox {
            input {
                height: 40px;
                border-radius: 4px;
                border: 1px solid rgba(0,0,0,0.5);
                ::placeholder, ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder { 
                        color: #00a0ff;
                        opacity: 0.25;
                }
                &:focus {
                        border: 1px solid #00a0ff;
                        box-shadow: 0 0 8px 0 rgba(96, 195, 253, 0.7);
                }
            }
        }
    }
}

.addCustomerContainer{
    width: 72%;
    // height: calc(100% - 80px);
    // overflow: auto;    
    background-color: $white;
    margin: auto;
    .addCustomer{
        box-shadow: 0 2px 12px 0 rgba(74, 74, 74, 0.5);
        background-color: #ffffff;
        padding-top: 40px;
        padding-bottom: 40px;  
        height: 100%;             
        .createPasswordSection{
          width: 55%;
          margin: auto;
          .addCustomerText{
              font-family: $heebo;
              font-size: 24px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.33;
              letter-spacing: normal;
              color: $hexaBlack;
              margin-bottom: 8px;
              &.completeForm{
                  opacity: 0.5;
                  font-size: 16px;
                  line-height: 1.5;
                  font-weight: normal;
                  margin-bottom: 32px;
              }
              &.customerType{
                  opacity: 1.0;
                  margin-bottom: 28px;
              }
              &.radioLabelText{
                  position: relative;
                  top: -8px;
                  left: -5px;
                  font-size: 14px;
                  line-height: 1.43;
                  font-weight: normal;
              }
              &.customerFormHeading{
                  font-size: 16px;
                  line-height: 1.5;
                  margin-bottom: 16px;
              }
          } 
          .signInText {
              font-family: $heebo;
              font-size: 24px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.33;
              letter-spacing: normal;
              color: $hexaBlack;
              margin-bottom: 30px;
          }
          .labelText{
              font-family: $heebo;
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.43;
              letter-spacing: normal;
              color: $hexaBlack;
              margin-bottom: 4px;
          }
          .inputTextBox {
              input,select {
                  height: 40px;
                  border-radius: 4px;
                  border: 1px solid rgba(0,0,0,0.5);
                  ::placeholder, ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder { 
                          color: $colorBlue;
                          opacity: 0.25;
                  }
                  &:focus {
                          border: 1px solid $colorBlue;
                          box-shadow: 0 0 8px 0 rgba(96, 195, 253, 0.7);
                  }
              }
              // input, .role{
              //     width: 87%;
              // }
              // .country{
              //     width: 84%;
              // }
              // .state{
              //     width: 90%;
              // }
          }
          .faCircleMargin{
              margin-left: 12px;
              margin-right: 35px;
          }
        }
        .cancelBtn{
            cursor: pointer;
            @include form-button(101px, 40px, $heebo, 16px, normal, normal, normal, 1.5, normal, center, $hexaBlack, $white, 4px, 1px solid $hexaBlack);
        }
        .saveSubmitBtn{
            cursor: pointer;
            @include form-button(115px, 40px, $heebo, 16px, bold, normal, normal, 1.5, normal, center, $white, $menloBlue, 4px,"");
        }              
    }
}
