<div class="loginContainer">
  <div class="loginFormSection">
      <form *ngIf='forgotPassword === 1' [formGroup]="forgotPasswordForm">
        <div class="signInText">Forgot Password</div>
        <div class="signInTextPara mb40">Enter the email address associated with your account to receive instructions to reset your password.</div>
        <div class="form-group inputTextBox mb64">
          <label class="labelText">Email Address</label>
          <input type="text" class="form-control" formControlName="email" [ngClass]="forgotPasswordForm.controls['email'].hasError('required') && forgotPasswordForm.controls['email'].touched || forgotPasswordForm.controls['email'].hasError('pattern') && forgotPasswordForm.controls['email'].dirty ? 'error mb10' : ''">
          <p class="labelText errorText"></p>
          <p class="labelText errorText"></p>
        </div>
        <div class="errorText mb8" *ngIf="errorMsg">{{errorMsg}}</div>
        <button type="submit" class="btn signInBtn mb32" [ngClass]="!(forgotPasswordForm.valid) ? 'disabled' : ''" [disabled]="!(forgotPasswordForm.valid)" (click) = "sendPassword();">Send Password Reset Instructions</button>
        <button type="submit" class="btn cancelBtn opacity-5" (click) = "cancel();">Cancel</button>
      </form>
      <div *ngIf='forgotPassword === 2'>
        <div class="signInText textAlignCenter mb56">Instructions Sent!</div>
        <img class="mb48 center" src="assets/images/send.png"/>
        <div class="signInTextPara mb64 center">Check your email for instructions to reset your password</div>
        <button type="submit" class="btn signInBtn" (click) = "cancel();">Back to Sign In</button>
      </div>
  </div>
</div>
