.fsnet-logo {
    width: 200px;
    height: 32px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #39bcd5;
}
.labelSignIn {
    width: 330px;
    height: 32px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
}
.formContainer  {
    width: 450px;
    height: 533px;
    opacity: 0.95;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border: solid 1px rgba(74, 74, 74, 0.25);
}
.labelFormControl {
    width: 386px;
    height: 20px;
    opacity: 0.5;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
}
.formControl {
    width: 370px;
    height: 24px;
    opacity: 0.25;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
}
.cbRemeberMe {
    width: 24px;
    height: 24px;
}
label {
    height: 24px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
}
.btnText {
    width: 386px;
    height: 48px;
    font-family: OpenSans;
    font-size: 20px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6 !important;
    letter-spacing: normal;
    text-align: center !important;
    color: #ffffff;
    outline: none;
}