body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}
.text-center {
  text-align: center;
}
.success-icon {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.success-icon i{
  text-align: center;
  color: #1adbb9;
  font-size: 128px;
} 
.marginTop10 {
  margin-top: 10px !important;
}
.marginBottom30{
  margin-bottom: 30px;
}
.marginBot20{
  margin-bottom: 20px;
}
.marginBottom2{
  margin-bottom: 2px;
}
.marginRight10{
  margin-right: 10px;
}
.marginBotNone {
  margin-bottom: 0px !important;
}

/* React phone input css */
.react-phone-number-input {
  width: 290px !important;
  height: 40px !important;
  border-radius: 3px !important;
  border: solid 1px #526173 !important;
  margin-bottom: 10px;
}
.react-phone-number-input__row {
  padding-top: 4px !important;
}
.react-phone-number-input__row button, .react-phone-number-input__row input {
  border: none !important;
  padding-left: 5px !important;
}
.react-phone-number-input__icon {
  border: none !important;
}
.react-phone-number-input__icon {
  width: 25px !important;
  height: 25px !important;
  padding-left: 5px;
}

::placeholder {
  color: #2f4858 !important;
  opacity: 0.25 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #2f4858 !important;
  opacity: 0.25 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #2f4858 !important;
  opacity: 0.25 !important;
}

label.radio-inline input[type="radio"] {
  width: 25px !important;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('./fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('./fonts/OpenSans-SemiBold.ttf');
}
@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Bold.ttf');
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('./fonts/SourceSansPro-Regular.ttf');
}
body {
  font-family: 'Open Sans';
}


input:focus, .react-phone-number-input:focus, select:focus {
  border: solid 1px #39bcd5 !important;
} 
select option {
  margin: 10px;
  background: #ffffff;
  color: #2f4858;
  font-family: 'Open Sans';
  font-size: 16px;
}
.react-phone-number-input input:focus {
  border: inherit !important;
}
a:hover {
  text-decoration: underline !important;
}
.selectFormControl.inputError, .inputFormControl.inputError, .react-phone-number-input.inputError, .forgotFormControl.inputError {
  border-color: red !important;
}
.btn.disabled, .btn[disabled] {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}
.btnEnabled, .fsnetBtn {
  background-color: #00bcd4 !important;
}

.btnEnabled:hover, .fsnetBtn:hover, .fsnetButton:hover, .uploadFile:hover,.start-fund:hover, .newAddendumButton:hover {
  background-color: #4ab8c6 !important;
}
.cancelBtn a:hover {
  border: 1px solid #000000 !important;
  padding: 8px 60px;
  border-radius: 100px;
}

.error {
  color: red;
  font-size: 12px;
  font-family: 'Open Sans';
}
.marginleft25 {
  margin-left: 25px;
}
.marginLeft30 {
  margin-left: 30px !important;
}
.margin30 {
  margin: 30px;
}

.marginTopminus10 {
  margin-top: -10px !important;
}
  
/***********CHECKBOX STYLES START******************/
/* The container */
.checkbox {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 24px;
  height: 24px;
  border: 1px solid #00bcd4;
}
.checkbox input{
  position: absolute;
  top: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #ffffff;
  cursor: pointer;
}
.accreditedInvestor .checkmark {
  margin-top: 5px !important;
}

.checkbox-checkmark {
  border: 1px solid #00bcd4 !important;  
}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark {
  background-color: #00bcd4;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.remember-text {
  position: relative;
  top: -8px;
}
/***********CHECKBOX STYLES END******************/

/***********Radio button STYLES START******************/
.radio-inline {
  min-width: 100px;
  margin-bottom: 10px !important;
}

.checkbox-inline {
  width: 150px;
  margin-bottom: 14px !important;
}

/* The container */
.radio-inline {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  font-size: 16px !important;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 10px;
}
.checkbox-inline {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  font-size: 16px !important;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 10px;
}

.checkbox-inline input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Hide the browser's default radio button */
.radio-inline input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border: 1px solid #00bcd4;
  background-color: #ffffff;
  border-radius: 50%;
}
.radio-checkmark.custom {
  top: inherit !important;
  left: 5px !important;
  cursor: pointer;
}
.radioText.alignRadioText {
  margin: -28px 0px 20px 30px !important;
  cursor: pointer;
}



/* When the radio button is checked, add a blue background */
input:checked ~ .radio-checkmark {
  background-color: #00bcd4;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
input:checked ~ .radio-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-checkmark:after {
  top: 6px;
  left: 6px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #ffffff;
}


/***********Radio button STYLES End******************/

.marginLeft15 {
  margin-left: 15px;
}
select option:hover {
  background-color: rgba(245, 245, 245, 0.3);
}
select option {
  color: #2f4858;
  background-color: #ffffff;
}


/*********Form Css **************/
.inputFormControl {
  height: 40px;
  font-family: 'Open Sans';
  font-size: 16px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5 !important;
  letter-spacing: normal;
  color: #2f4858 !important;
  border-radius: 3px !important;
  border: solid 1px #526173 !important;
  margin-top: 8px;
  box-shadow: initial !important;
  padding: 8px;
  width: 100%;
}
.title {
  min-height: 32px;
  height: auto;
  font-family: 'OpenSans-Bold';
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #2f4858;
}
.subtext {
  min-height: 20px;
  height: auto;
  opacity: 0.5;
  font-family: 'OpenSans-Bold';
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #2f4858;
}
.form-label {
  min-height: 20px;
  height: auto;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #2f4858;
}
.fsnetButton {
  height: 40px;
  background-color: #39bcd5 !important;
  font-family: 'Open Sans';
  font-size: 16px !important;
  font-weight: bold !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5 !important;
  letter-spacing: normal;
  color: #ffffff;
  box-shadow: initial !important;
  border-radius: 30px !important;
}
.fsnetCancelButton {
    height: 48px;
    font-family: 'Open Sans';
    font-size: 20px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center !important;
    color: #2f4858;
    width: 200px !important;
    border: none !important;
    border-radius: 30px !important;
    background: none !important;
    box-shadow: initial !important;
}
.fsnetCancelButton:hover {
  border: 1px solid #000000 !important;
  border-radius: 30px;
}
.disabled {
    cursor: not-allowed !important;
    pointer-events: none !important;
}

.not-allowed {
  cursor: not-allowed !important;
}

.fsnetSubmitButton {
  width: 290px;
  border-radius: 30px !important;
  height: 48px;
  font-size: 20px !important;
  font-weight: bold !important;
  line-height: 1.6 !important;
  text-align: center;
  color: #fff;
  background-color: #bdbdbd;
  -webkit-box-shadow: initial !important;
  box-shadow: initial !important;
}
.margin20 {
  margin: 20px;
}
.marginTop20 {
  margin-top: 20px;
}
.marginTop40 {
  margin-top: 40px;
}
.marginTop24{
  margin-top: 24px;
}
.marginTop30 {
  margin-top: 30px !important;
}
.marginTop15 {
  margin-top: 15px !important;
}
.marginTop6{
  margin-top: 6px;
}
.marginTop46{
  margin-top: 46px;
}
.marginBottom20 {
  margin-bottom: 20px !important;
}
.marginBottom68 {
  margin-bottom: 68px;
}
.marginBottom44 {
  margin-bottom: 44px;
}
.bold {
  font-family: 'OpenSans-Bold';
}
.cursor-pointer {
  cursor: pointer;
}
.scroll .container {
  padding: 0 !important;
  margin: 0 !important;
  overflow: auto !important;
}
.scroll .vertical-bar {
  color: #00bcd4 !important;
}
.marginBottom30 {
  margin-bottom: 30px !important;
}
.borderRightNone {
  border-right: none !important;
}
.borderLeftNone {
  border-left: none !important;
}
.fade.in {
  opacity: 1 !important;
}
.modal {
  top: 150px !important;
}
.modal-open .modal {
  overflow: hidden !important;
}
button.close {
  outline: none !important;
}
.opacity75 {
  opacity: 0.75;
}
.paddingLeft15 {
  padding-left: 15px;
}
.clear-both {
  clear: both;
}
.padding15 {
    padding-left: 15px;
    padding-right: 15px;
}
.marginTop50 {
  margin-top: 50px;
}
.margin5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
    border-color: #e9ecef !important;
}
.form-control {
  box-shadow: initial !important;
}
.padding15 {
  padding: 15px;
}
.width100 {
  width: 100% !important;
}  
.padding-left-0 {
  padding-left: 0px !important;
}
.min-height-400 {
  min-height: 400px;
}
.inputWidth290 {
  width: 290px !important;
}
.cBoxFullAlign {
  display: block !important;
  width: 100% !important;
  padding-left: 30px !important;
  margin-left: 0px;
}
.marginTop24 {
  margin-top: 24px;
}
.margin-Left-5 {
  margin-left: 5px;
}
.height100 {
  height: 100px;
}
.height140 {
  height: 140px;
}
.minHeight150 {
  min-height: 150px;
}
.top150 .modal-content{
  top: 150px !important;
}
.TtModalHeaderAlign h1 {
  font-family: 'OpenSans-Bold';
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #2f4858;
}
.TtModalBody  div {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #2f4858;
}
.block {
  display: block;
}
.vanilla-note {
  font-family: 'OpenSans-Bold';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: red;
  font-size: 12px;
}
.vanilla-logo {
  height: 50px;
  margin-top: -15px;
  cursor: pointer;
}
.marginTopMinus30 {
  margin-top: -30px !important;
}
.paddingLeft30 {
  padding-left: 30px;
}
.height125 {
  height: 125px;
}
.title-text {
  font-family: 'OpenSans-Bold';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #2f4858;
}
.inline {
  display: inline;
}


/* Fund Progress bar  */
.fund-progress-bar {
  position: relative;
  padding-top: 10px;
  margin: 0 auto;
  max-width: 600px;
}

.fund-progress-bar .price-percentage {
  position: relative;
  bottom: 26px;
}

.fund-progress-bar .price-percentage:last-child {
  bottom: 0px !important;
}

.fund-progress-bar .progress-bar {
  background-color: rgba(245, 245, 245, 1) !important;
  border-radius: 30px !important;
  justify-content: inherit;
  padding: 7px !important;
  height: 32px !important;
  border: none !important;
  width: 100% !important;
  margin: 0;
}

.fund-progress-bar .progress-bar .progress.progress-pink,
.fund-progress-bar .progress-bar .progress.progress-yellow,
.fund-progress-bar .progress-bar .progress.progress-green,
.fund-progress-bar .progress-bar .progress.progress-white {
  height: 18px !important;
}

.fund-progress-bar .progress-bar .progress.progress-radius-left {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

.fund-progress-bar .progress-bar .progress.progress-radius-right {
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.fund-progress-bar .price-meter {
  position: absolute;
  left: -20px;
  font-size: 14px;
  font-family: 'OpenSans-Bold' !important; 
}

.fund-progress-bar .price-meter:last-child {
  margin-top: 10px;
}

.fund-progress-bar .caretUpAlign,
.fund-progress-bar .caretDownAlign {
  left: -3px;
  position: absolute;
  font-size: 16px;
  width: 15px;
}