body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}
.text-center {
  text-align: center;
}
.success-icon {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.success-icon i{
  text-align: center;
  color: #1adbb9;
  font-size: 128px;
} 
.marginTop10 {
  margin-top: 10px !important;
}
.marginBottom30{
  margin-bottom: 30px;
}
.marginBot20{
  margin-bottom: 20px;
}
.marginBotNone {
  margin-bottom: 0px !important;
}

/* React phone input css */
.react-phone-number-input {
  width: 290px !important;
  height: 40px !important;
  border-radius: 3px !important;
  border: solid 1px #526173 !important;
  margin-bottom: 10px;
}
.react-phone-number-input__row {
  padding-top: 4px !important;
}
.react-phone-number-input__row button, .react-phone-number-input__row input {
  border: none !important;
  padding-left: 5px !important;
}
.react-phone-number-input__icon {
  border: none !important;
}
.react-phone-number-input__icon {
  width: 25px !important;
  height: 25px !important;
  padding-left: 5px;
}

::placeholder {
  color: #2f4858 !important;
  opacity: 0.25 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #2f4858 !important;
  opacity: 0.25 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #2f4858 !important;
  opacity: 0.25 !important;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.ttf');
}
body {
  font-family: 'Open Sans';
}


input:focus, .react-phone-number-input:focus, select:focus {
  border: solid 1px #39bcd5 !important;
} 
select option {
  margin: 10px;
  background: #ffffff;
  color: #2f4858;
  font-family: 'Open Sans';
  font-size: 16px;
}
.react-phone-number-input input:focus {
  border: inherit !important;
}
a:hover {
  text-decoration: underline !important;
}
.inputFormControl.inputError {
  border-color: red !important;
}
.btn.disabled, .btn[disabled] {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}
.btnEnabled, .fsnetBtn {
  background-color: #00bcd4 !important;
}

.btnEnabled:hover, .fsnetBtn:hover {
  background-color: #4ab8c6 !important;
}

.cancelBtn a:hover {
  border: 1px solid #000000 !important;
  padding: 8px 60px;
  border-radius: 100px;
}

.error {
  color: red;
  font-size: 12px;
  font-family: 'Open Sans';
}

.marginTopminus10 {
  margin-top: -10px !important;
}
  
/***********CHECKBOX STYLES START******************/
/* The container */
.checkbox {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 24px;
  height: 24px;
  border: 1px solid #00bcd4;
}
.checkbox input{
  position: absolute;
  top: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #ffffff;
  cursor: pointer;
}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark {
  background-color: #00bcd4;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.remember-text {
  position: relative;
  top: -8px;
}
/***********CHECKBOX STYLES END******************/

/***********Radio button STYLES START******************/
.radio-inline {
  width: 150px;
  margin-bottom: 10px !important;
}

/* The container */
.radio-inline {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  font-size: 16px !important;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 10px;
}

/* Hide the browser's default radio button */
.radio-inline input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border: 1px solid #00bcd4;
  background-color: #ffffff;
  border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
input:checked ~ .radio-checkmark {
  background-color: #00bcd4;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
input:checked ~ .radio-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-checkmark:after {
  top: 6px;
  left: 6px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #ffffff;
}


/***********Radio button STYLES End******************/

.marginLeft15 {
  margin-left: 15px;
}
select option:hover {
  background-color: rgba(245, 245, 245, 0.3);
}
select option {
  color: #2f4858;
  background-color: #ffffff;
}


/*********Form Css **************/
.inputFormControl {
  height: 40px;
  font-family: 'Open Sans';
  font-size: 16px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5 !important;
  letter-spacing: normal;
  color: #2f4858 !important;
  border-radius: 3px !important;
  border: solid 1px #526173 !important;
  margin-top: 8px;
  box-shadow: initial !important;
  padding: 8px;
  width: 100%;
}
.title {
  min-height: 32px;
  height: auto;
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #2f4858;
}
.subtext {
  min-height: 20px;
  height: auto;
  opacity: 0.5;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #2f4858;
}
.form-label {
  min-height: 20px;
  height: auto;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #2f4858;
}
.fsnetButton {
  height: 40px;
  background-color: #39bcd5 !important;
  font-family: 'Open Sans';
  font-size: 16px !important;
  font-weight: bold !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5 !important;
  letter-spacing: normal;
  color: #ffffff;
  box-shadow: initial !important;
  border-radius: 30px !important;
}
.fsnetCancelButton {
    height: 48px;
    font-family: 'Open Sans';
    font-size: 20px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center !important;
    color: #2f4858;
    width: 200px !important;
    border: none !important;
    background: none !important;
    box-shadow: initial !important;
}
.fsnetCancelButton:hover {
  border: 1px solid #000000 !important;
  border-radius: 30px;
}
.fsnetSubmitButton {
  width: 290px;
  border-radius: 30px !important;
  height: 48px;
  font-size: 20px !important;
  font-weight: bold !important;
  line-height: 1.6 !important;
  text-align: center;
  color: #fff;
  background-color: #bdbdbd;
  -webkit-box-shadow: initial !important;
  box-shadow: initial !important;
}
.margin20 {
  margin: 20px;
}
.marginTop20 {
  margin-top: 20px;
}
.marginTop30 {
  margin-top: 30px !important;
}
.marginTop15 {
  margin-top: 15px !important;
}
.marginBottom20 {
  margin-bottom: 20px !important;
}
.bold {
  font-weight: bold;
}
.cursor-pointer {
  cursor: pointer;
}
.scroll .container {
  padding: 0 !important;
  margin: 0 !important;
  overflow: auto !important;
}
.scroll .vertical-bar {
  color: #00bcd4 !important;
}
.marginBottom30 {
  margin-bottom: 30px !important;
}
.borderRightNone {
  border-right: none !important;
}
.borderLeftNone {
  border-left: none !important;
}
.fade.in {
  opacity: 1 !important;
}
.modal {
  top: 150px !important;
}
.modal-open .modal {
  overflow: hidden !important;
}